[Unit]
Description=Radacleaner info monitor timer (every 30 min)

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
AccuracySec=1min

[Install]
WantedBy=timers.target
